@import "main";

:root {
  --color-text: #000;
  --color-background: #fff;
}

html, body {
  height: 100%;
  margin: 0;
}

.app-guillotine-container, #graphiql-container-wrapper {
  height: 100%;
}

.graphiql-container .docExplorerResizer {
  position: relative;
}
