body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#graphiql-container {
    height: calc(100vh - 44px);
}

.app-guillotine-container {
    transition: margin-left 0.5s ease;
}

.graphiql-container .topBar {
    background: #ececec;
}

.graphiql-container .topBar .title {
    font-size: inherit;
}

.graphiql-container .topBar .toolbar {
    background: #ececec;
    width: 100%;
    align-items: center;
}

.graphiql-container .topBar .toolbar button:last-child {
    box-shadow: none;
    background: #ececec;
    outline: none;
    margin-left: auto;
    border-radius: 17px;
    border: 1px solid rgba(0,0,0,.25);
    padding: 4px;
}

.graphiql-container .topBar .toolbar button:last-child:after {
    background-image: url("../img/refresh.svg");
    background-repeat: no-repeat;
    content: " ";
    width: 18px;
    height: 18px;
    display: block;
    background-size: 14px;
    background-position: center;
}

.main-app-wrapper.sidebar-expanded .app-guillotine-container {
    margin-left: 44px;
}
