name: Release

on:
  push:
    tags:
      - 'v*'

concurrency: release

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:

  release_notes:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get previous release tag
        id: get_previous_release_tag
        run: |
          PREVIOUS_RELEASE_TAG=$(git tag --sort=-version:refname --merged | grep -E '^v([[:digit:]]+\.){2}[[:digit:]]+$' | grep -v "$(git describe --tags)" | head -1)
          echo "previous_release_tag=$PREVIOUS_RELEASE_TAG" >> $GITHUB_OUTPUT

      - name: Generate Release Notes
        uses: enonic/release-tools/generate-changelog@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PREVIOS_RELEASE_TAG: ${{ steps.get_previous_release_tag.outputs.previous_release_tag }}
          OUTPUT_FILE: changelog.md

      - uses: actions/upload-artifact@v4
        with:
          name: changelog
          path: changelog.md

  build:
    runs-on: ubuntu-latest

    needs: release_notes

    outputs:
      tag_name: ${{ steps.publish_vars.outputs.tag_name }}
      version: ${{ steps.publish_vars.outputs.version }}
      prerelease: ${{ steps.publish_vars.outputs.prerelease }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2

      - name: Get publishing variables
        id: publish_vars
        uses: enonic/release-tools/publish-vars@master
        env:
          PROPERTIES_PATH: './gradle.properties'

      - name: Verify release version
        if: steps.publish_vars.outputs.release != 'true'
        run: exit 1

      - name: Publish to Artifactory
        run: ./gradlew publish -Pcom.enonic.xp.app.production=true -PrepoKey=${{ steps.publish_vars.outputs.repo }} -PrepoUser=${{ secrets.ARTIFACTORY_USERNAME }} -PrepoPassword=${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Set npm package version
        working-directory: build/types
        run: node setversion.js

      - name: Upload npm package
        if: steps.publish_vars.outputs.release == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: npm-package
          path: build/types

  npm-publish:

    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Download npm package
        uses: actions/download-artifact@v4
        with:
          name: npm-package
          path: build/types

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Set npm tag
        run: |
          VERSION=$(node -p "require('./build/types/package.json').version")
          if [[ "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "NPM_TAG=latest" >> $GITHUB_ENV
          else
            echo "NPM_TAG=beta" >> $GITHUB_ENV
          fi

      - name: Publish to npm
        working-directory: build/types
        run: |
          npm install -g npm@latest
          npm publish --tag $NPM_TAG --ignore-scripts


  release:

    runs-on: ubuntu-latest

    needs: build

    steps:

      - name: Download changelog
        uses: actions/download-artifact@v4
        with:
          name: changelog

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: changelog.md
          name: Guillotine ${{ needs.build.outputs.version }}
          prerelease: ${{ needs.build.outputs.prerelease == 'true' }}
